.places {
    margin-top: 30px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
}

.price_by_night {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.information div {
    width: 100px;
    text-align: center;
}

.user {
    margin-top: 10px;
}

.description {
    margin-top: 10px;
    font-size: 14px;
    color: #484848;
}
